.experience_container {
  margin-left: 15%;
  margin-right: 15%;
  color: rgb(181, 219, 228);
  margin-top: 5%;
  border-left: 2px solid #fff;
  margin-bottom: 17%;
}

.experience_1 {
  display: flex;
}

.experience_container #freelance {
  padding-top: 30px;
  padding-left: 5px;
}

.link-active {
  color: rgb(0, 153, 255);
  border-left: 2px solid rgb(0, 153, 255);
}
