.home_container {
  text-align: justify;
  margin-top: 5%;
  text-align: center;
  line-height: 100px;
}

.home_container .presentation {
  color: rgb(0, 153, 255);
  letter-spacing: 7px;
  font-size: 20px;
}

.home_container .name {
  color: rgb(181, 219, 228);
  font-size: 70px;
}

.home_container .prof {
  color: rgb(204, 203, 203);
  font-size: 30px;
  line-height: normal;
}

.home_container .desc {
  color: rgb(204, 203, 203);
  font-size: 50px;
}
